.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #2195f3d3;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signUpForm {
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
